<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>zCoin - Admin</title>

  <!-- CSS -->
  <link rel="stylesheet" href="./css/admin-styles.css">

  <!-- BOOTSTRAP -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

  <!-- GOOGLE FONTS -->
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,700;1,300&display=swap" rel="stylesheet">

  <!-- jQUERY -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

</head>

<body style="background-color: #181E29">

  <nav class="navbar navbar-light bg-light nav-center">
      <a class="navbar-brand mx-auto" href="#"> <img src="./images/logo.png" width="70" height="70" alt=""> </a>
  </nav>

  <nav class="nav"></nav>
  <div class="wrapper">
    <ul>
      <li><a href="investordb"><img class="coins" src="./images/admin/line-graph.png" alt="INVESTOR DB"></a></li>
      <li><a href="watchlist"><img class="coins" src="./images/watchlist.png" alt="WATCHLIST"></a></li>
      <li><a href="portfolio"><img class="coins" src="./images/portfolio1.png" alt="PORTFOLIO"></li>
      <li><a href="orders"><img class="coins" src="./images/orders.png" alt="ORDERS"></li>
      <li><a href="logout"><img class="coins" src="./images/admin/logout.png" alt="LOGOUT"></a></li>
    </ul>
  </div>

  <div id = "orderDetails" class="crypto-table">
    <center><h4>My Ordres</h4> <br>
    <p>BUY / SELL </p>
    <p>SYMBOL &emsp; PRICE &emsp; QTY</p></center>
    <p id = "test"></p>
    <hr>
  </div>

<script type="text/javascript">
  var buyOrSell = "<%= buyOrSell %>";
  var coinSymbol = "<%= coinSymbol %>";
  var price = "<%= price %>";
  var qty = "<%= qty %>";
  var currentTimestamp = "<%= currentTimestamp %>";

  buyOrSell = buyOrSell.split(",");
  coinSymbol = coinSymbol.split(",");
  price = price.split(",");
  qty = qty.split(",");
  currentTimestamp = currentTimestamp.split(",");

  console.log(buyOrSell);
  console.log(coinSymbol);
  console.log(price);
  console.log(qty);
  console.log(currentTimestamp);

  if (buyOrSell.length > 0) {
    var html = "<center> <h4>My Ordres</h4>  <br> ";

    for (let i = 0; i < buyOrSell.length - 1; i++) {
      if (buyOrSell[i] == "BUY") {
        html += "<h4 style='color:lightgreen'>" + buyOrSell[i] + "</h4>";
      } else {
        html += "<h4 style='color:red'>" + buyOrSell[i] + "</h4>";
      }
      html += "<p>" + coinSymbol[i] + "&emsp;&emsp;";
      html += "PRICE : " + price[i] + "&emsp;&emsp;";
      html += "QTY : " + qty[i] + "&emsp;&emsp;";
      html += currentTimestamp[i] + "</p>";
      html += "<hr style='height:1px;border-width:0;background-color:#000'>"
    }
  } else {
    var html = "<center> <h4>My Ordres</h4>  <br> ";

    html += "<p> You orders are nill - start trading now ! </p>"
  }


  console.log(html);

  document.getElementById('orderDetails').innerHTML = html;
</script>

</body>

</html>
